<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <h1>kubernetes-sidecar-example</h1>
      <p>
        GitHub:
        <a href="https://github.com/zrcni/kubernetes-sidecar-example">
          kubernetes-sidecar-example
        </a>
      </p>
    </div>
    <p>Updated at: {{.ImagesUpdatedAt}}</p>
    <div>
      {{range .Images}}
        <img src={{.Source}} alt={{.Name}} />
      {{end}}
    </div>
  </body>
</html>
